@font-face {
  font-family: 'Bebas Neue';
  src: url("../src/fonts/Bebas_Neue/FontsFree-Net-BebasNeue-Regular.ttf");
}

body {
  padding: 0;
  margin: 0;
  background-color: #242424;
  font-family: Bebas Neue;
}