@font-face {
  font-family: 'Bebas Neue';
  src: url("../src/fonts/Bebas_Neue/FontsFree-Net-BebasNeue-Regular.ttf");
}

* {
  padding: 0;
  margin: 0;
  background-color: black;
  font-family: Bebas Neue;
}